---
import "@styles/global.css";

import Header from "@layouts/partials/Header.astro";
import Footer from "@layouts/partials/Footer.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />

		<title>Open LLM Arena</title>
	</head>
	<body class="bg-gray-50">
		<Header />
		<main class="mt-16 mb-32">
			<slot></slot>
		</main>
		<Footer />
	</body>
</html>
